* {
	padding: 0px;
	margin: 0px;
	-webkit-user-select: none;
	-webkit-transition: opacity .5s linear;
	text-overflow: ellipsis;
}

body {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 40px;
	font-family: "Helvetica Neue";
	color: #FFF;
}

#info {
	position: fixed;
	bottom: 0px;
	left: 2px;
	width: 310px;
	height:31px;
}

#info * {
	white-space:nowrap;
	overflow-x: hidden;
	text-shadow: #000 0px 0px 1px;
	font-weight: bold;
}

#title {
	font-size: 16px;
}

#artist {
	font-size: 10px;
	text-transform: uppercase;
	opacity: .8;
	position: relative;
	top: 2px;
}

#clock {
	color: #FFF;
	position: absolute;
	right: 124px;
}
.h, .v, #colon, #ampm {
	position: absolute;
}
#colon {
	font-family: "Helvetica Neue" !important;
	top: 9px;
	left: 31px;
}
#ampm {
	top: 14px;
	left: 88px;
}
.h.r1 {
	top: 3px;
}
.h.r2 {
	top: 18px;
}
.h.r3 {
	top: 33px;
}
.h.c1 {
	left: 11px;
}
.h.c2 {
	left: 40px;
}
.h.c3 {
	left: 66px;
}
.v.vr1 {
	top: 6px;
}
.v.vr2 {
	top: 21px;
}
.v.vc1 {
	left: 0px;
}
.v.vc2 {
	left: 7px;
}
.v.vc3 {
	left: 26px;
}
.v.vc4 {
	left: 36px;
}
.v.vc5 {
	left: 55px;
}
.v.vc6 {
	left: 62px;
}
.v.vc7 {
	left: 81px;
}
